body {
  display: grid;
  place-items: center center;
  background-color: #FDE281;
}

#root {
  margin-top: 5em;
  background-color: #FEF7DC;
  width: 800px;
  text-align: justify;
  padding: 80px;
  border: 2px outset white;
}

h1 {
  text-align: center;
}

#body {
  width: 400px;
  height: 25px;
  margin-left: 10px;

}

#title {
  width: 400px;
  margin-left: 10px;

}

label {
  margin:5px;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FDE281;
  padding: 20px;
  border: 1px solid white;
}

p{
  margin-bottom: 3px;
}

.deleteButton {
  opacity: .75;
  margin: 0px;
  cursor: grab;
  background: #FCCB1A;
}

.deleteButton:hover{
  opacity: 1;
}

button {
  background-color: white;
  color: black;
  border: 2px solid grey;
}
